<:Title>
  Traditional

<:Body>
  <h1>Traditional</h1>

  <a href="{{ url_for(controller: 'traditional', action: 'new') }}">Add project</a>

  {{ model.each_with_index do |project, index| }}
    <div>
      {{ project.title }}
      <a href="{{ url_for(controller: 'traditional', action: 'show', _id: project._id) }}">Show</a>
      <a href="{{ url_for(controller: 'traditional', action: 'edit', _id: project._id) }}">Edit</a>
      <a e-click="destroy(index)">Delete</a>
    </div>
    <div>
      <i>{{ project.description }}</i>
    </div>
  {{ end }}
